@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
scroll-behavior: smooth;
}
body {
margin: 0;
padding: 0;
font-family: "Montserrat", sans-serif;
overflow: auto;
background: #ebedf5;
}
header {
position:relative;
z-index: 1000;
}
.main-nav {
height: 90px;
}
.logo {
color: black;
line-height: 90px;
font-size: 30px;
font-weight: bold;
text-decoration: none;
margin-left: 30px;
font-family: "AstroSpace", sans-serif;
}
.logo span {
color: #5271FF;
}
.navlinks {
list-style: none;
float: right;
line-height: 90px;
margin: 0;
padding: 0;
}
.navlinks li {
display: inline-block;
margin: 0px 20px;
}
.navlinks li a {
color: black;
text-decoration: none;
font-size: 18px;
transition: all 0.3s linear 0s;
text-transform: uppercase;
}
.navlinks li a:hover {
color: #5271FF;
padding-bottom: 7px;
border-bottom: 2px solid #5271FF;
}
li a.contact {
background-color: #5271FF;
padding: 9px 20px;
border-radius: 50px;
transition: all 0.3s ease 0s;
border-bottom: none;
color: white;
}
li a.contact:hover {
background-color: #5271FF;
color: black;
border-bottom: none;
}
.menu-btn {
font-size: 25px;
color: black;
float: right;
line-height: 90px;
margin-right: 40px;
display: none;
cursor: pointer;
}
@media (max-width: 800px) {
.navlinks {
position: fixed;
width: 100%;
height: 100vh;
right: -100%;
text-align: center;
transition: all 0.5s;
background: white;
}
.navlinks li {
display: block;
}
.navlinks li a {
font-size: 20px;
color: black;
}
.navlinks li .contact {
color: white;
}
.menu-btn {
display: block;
}

#navlinks.active{
right: 0px;
}

}
@media (max-width: 360px) {
.logo {
margin-left: 10px;
font-size: 25px;
}
.menu-btn {
margin-right: 10px;
font-size: 25px;
}
.menu-btn:focus {
color: blue;
}
}
/*Background*/
.body0 {
margin: 0;
padding: 0;
box-sizing: border-box;
position: relative;
z-index: 100;
}
*,
*::before,
*::after {
box-sizing: border-box;
}
.wrapper {
width: 100%;
padding-left: 1.7rem;
padding-right: 1.7rem;
padding-top: 2.2rem;
margin-bottom: 5rem;
}
.grid-cols-2 {
width: 100%;
height: 100%;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 4rem;
}
.grid-item-1 {
padding-top: 3rem;
padding-left: 1.5rem;
}
.main-heading {
font-weight: 300;
font-size: 40px;
line-height: 55px;
color: black;
}
.main-heading span {
color: #5271FF;
}
.info-text {
margin-top: 1.5rem;
font-size: 19px;
line-height: 28px;
color: black;;
}
.btn_wrapper {
margin-top: 3.5rem;
display: flex;
width: 100%;
}
.btn {
width: 110px;
height: 50px;
display: block;
font-size: 16px;
color: #5271FF;
text-transform: capitalize;
border-radius: 7px;
letter-spacing: 1px;
transition: 0.4s;
border-color: white;
}
.btn:hover {
transform: translateY(-5px);
background-color: #00adb5;
}
.view_more_btn {
width: 180px;
height: 55px;
display: flex;
align-items: center;
justify-content: center;
font-size: 16px;
letter-spacing: 0;
color: #5271FF;
font-weight: 500;
margin-right: 10px;
box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.view_more_btn i {
margin-left: 0.7rem;
}
.view_more_btn:hover {
background: #5271FF;
color: white;
transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.documentation_btn {
width: 150px;
height: 55px;
font-size: 16px;
font-weight: 500;
color: white;
letter-spacing: 0;
background-color: #5271FF;
box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.documentation_btn:hover {
background-color: white;
transition: box-shadow 0.25s ease, transform 0.25s ease;
color: black;
}
.grid-item-2 {
width: 100%;
height: 100%;
}
.team_img_wrapper {
width: 500px;
max-width: 100%;
height: 440px;
}
.team_img_wrapper img {
width: 100%;
height: 100%;
object-fit: contain;
}
@media screen and (max-width: 991px) {
.wrapper {
padding-top: 3rem;
}
.grid-cols-2 {
grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}
.grid-item-1 {
order: 1;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 0;
}
.main-heading {
font-size: 32px;
text-align: center;
line-height: 40px;
}
.main-heading span {
color: #5271FF;
}
.info-text {
font-size: 16px;
text-align: center;
padding: 0.7rem;
color: black;
}
.btn_wrapper {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.grid-item-2 {
order: 2;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.team_img_wrapper {
width: 350px;
height: 350px;
}
}
/*Cards*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
.cardss {
box-sizing: border-box;
font-weight: normal;
background: #F8F9FE;
text-align: center;
position:relative;
}
.cardss span {
color:#5271FF;
}
.cards{
max-width: 1100px;
margin: 0 auto;
text-align: center;
padding: 15px;
}
.services{
display: flex;
align-items: center;
}
.content{
display: flex;
flex-wrap: wrap;
flex: 1;
margin: 20px;
padding: 20px;
border: 4px solid white;
border-radius: 7px;
transition: all .3s ease;
box-sizing: border-box;
box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.content .fab{
font-size: 40px;
margin: 16px 0;
}
.content > *{
flex: 1 1 100%;
}
.content h2{
font-size: 17px;
margin: 16px 0;
letter-spacing: 1px;
text-transform: uppercase;
}
.content p{
font-size: 15px;
font-family: 'Poppins',sans-serif;
color: rgb(88, 84, 84);
}
.content a{
margin: 22px 0;
background: #5271FF;
color: white;
text-decoration: none;
text-transform: uppercase;
border: 1px solid white;
padding: 15px 0;
border-radius: 25px;
transition: .3s ease;
}
.content a:hover{
border-radius: 4px;
}
.content:hover {
transform: translateY(-15px);
transition: box-shadow 0.25s ease, transform 0.25s ease;
}
@media (max-width: 900px) {
.services{
display: flex;
flex-direction: column;
}
}
.fa-images {
color: rgb(64, 218, 123);
}
.fa-youtube {
color: rgb(239, 61, 61);
}
.fa-file-code {
color:rgb(86, 55, 240)
}
/*Footer*/
.footer0 {
position: relative;
z-index: 100;
background: #232D39;
}
.site-footer
{
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color: white;
width: 90%;
margin-left: 5%;
}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.site-footer hr.small
{
margin:20px 0;
}
.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px;
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.site-footer .social-icons
{
text-align:right;
}
.site-footer .social-icons a
{
width:30px;
height:30px;
line-height:40px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color: white;
}
.copyright-text
{
margin:0;
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
margin-bottom:25px;
}
}
@media (max-width:767px)
{
.site-footer
{
padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
text-align:right;
}
}
.footer0 .social-icons
{
padding-left:0px;
margin-bottom:0;
list-style:none;
}
.footer0 .social-icons li
{
display:inline-block;
margin-bottom:0;
}
.footer0 .social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.footer0 .social-icons a{
background-color:white;
color:#818a91;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear;
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3b5998
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.linkedin:hover
{
background-color:#007bb6
}
.social-icons a.mail:hover
{
background-color:#ea4c89
}
@media (max-width:767px)
{
.social-icons li.title
{
display:block;
margin-right:0;
font-weight:600
}
}
/*ngonngu*/
.ngongu {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
position:absolute
}
.ngonngu .section {
height: auto;
width: 74%;
display: grid;
place-items: center;
margin-left: 13%;
}
.row {
display: flex;
flex-wrap: wrap;
}
.column {
width: 100%;
padding: 0 1em 1em 1em;
text-align: center;
}
.ngonngu .card {
width: 100%;
height: 100%;
padding: 2em 1.5em;
background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
background-size: 100% 200%;
background-position: 0 2.5%;
border-radius: 5px;
cursor: pointer;
transition: 0.5s;
}
.ngonngu h3 {
font-size: 20px;
font-weight: 600;
color: black;
margin: 1em 0;
}
.ngonngu h3 span {
color: #5271FF;
}
.ngonngu .icon-wrapper {
background-color: #2c7bfe;
position: relative;
margin: auto;
font-size: 20px;
height: 2.5em;
width: 2.5em;
color: #ffffff;
border-radius: 50%;
display: grid;
place-items: center;
transition: 0.5s;
}
@media screen and (min-width: 768px) {
.ngonngu section {
padding: 0 2em;
}
.column {
flex: 0 50%;
max-width: 50%;
}
}
@media screen and (min-width: 992px) {
.ngonngu section {
padding: 1em 3em;
}
.column {
flex: 0 0 33.33%;
max-width: 33.33%;
}
}
